# Dependency directories
node_modules/
pnp/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log

# Testing and coverage
coverage/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db
